.App {
  text-align: center;
}

:root {
  --width: 240px;
}

#root {
  width: var(--width);
  max-width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.inline {
  display: inline-block;
}

.center-content {
  text-align: center;
}

.white-space {
  white-space: pre-wrap;
}

.center {
  display: block;
  margin: 10px auto;
}

.text-center {
  text-align: center;
  line-height: 35px;
}

.content {
  max-height: 80vh;
  height: 520px;
  overflow-y: scroll;
}

.image-to-select {
  cursor: pointer;
}

button:disabled {
  background-color: #d9d9dd;
  cursor: not-allowed;
}

.popup-content {
  min-width: 320px;
  max-width: 500px;
}

/* --------------------------------------- */

.header__select-game-level {
  text-align: center;
  font-size: 15pt;
  font-weight: bold;
  text-transform: uppercase;
}

.header__game-levels {
  margin-left: 10px;
  max-width: calc(100% - 20px);
}

.header__level {
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
}

.header__level:hover {
  background-color: #d6d6d6;
}

.header__level:hover .header__level-name {
  visibility: visible;
}

.header__level.selected {
  background-color: #c3c3c3;
}

.header__level.selected .header__level-name {
  visibility: visible;
}

.header__level-size::after {
  content: attr(content);
  margin-left: 15px;
}

.header__level-name {
  visibility: hidden;
}

.header__level-name::after {
  content: attr(content);
  margin-right: 15px;
}

.header__submit {
  text-align: center;
}

.header__submit--button {
  width: 100px;
  margin-top: 10px;
}

/* --------------------------------------- */

.content__actions {
  margin-bottom: 5px;
}

.content__actions-game {
  background-color: rgb(172, 120, 53);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  width: 120px;
  height: 35px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 10px;
}

.content__actions-game:not([disabled]):hover {
  opacity: 0.7;
}

.icon-text {
  font-size: 10px;
}

.icon-text::after {
  content: attr(content);
}

.select-image {
  width: 120px;
}

.other {
  width: 105px;
}

.settings {
  width: 85px;
}

.restart {
  width: 75px;
}

.content__grid-container {
  width: 100%;
  background-color: rgb(172, 120, 53);
}

.tile__container {
  margin-bottom: -4px;
  border: solid 1px gray;
}

.move-count {
  text-align: right;
  margin: 15px 15px 0 0;
}

/* --------------------------------------- */
